* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    --primary-color: darkblue;
    --border-color: black;
    --img-width: 150px;
    --base-padding: 10px;
    --text-center: center;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    background-color: #333;
    color: #eee;
    text-align: var(--text-center);
    position: relative;

}

aside h2 {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;

}

aside img {
    width: 200px;
    height: auto;

}

main img {
    width: var(--img-width);
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: var(--text-center);
}

nav {
    background-color: var(--primary-color);
    padding: var(var(--base-padding));
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: var(--base-paddingS);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}